.filter {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin: 24px 0;
}

mat-form-field {
  min-width: 180px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}