@if (appointments.length) {

  <div class="table-wrapper">

    <table mat-table [dataSource]="appointments" class="appointments-table">

      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>
          Date
        </th>

        <td mat-cell *matCellDef="let row">
          <span class="date">
            {{ row.appointmentDate | date: 'dd MMM, y' }}
          </span>
        </td>
      </ng-container>


      <!-- Time -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>
          Time
        </th>

        <td mat-cell *matCellDef="let row">
          <span class="time">
            {{ row.appointmentTime }}
          </span>
        </td>
      </ng-container>


      <!-- Doctor -->
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>
          Doctor
        </th>

        <td mat-cell *matCellDef="let row">

          <div class="person">
            <div class="avatar doctor-avatar">
              <mat-icon>medical_services</mat-icon>
            </div>

            <span>
              {{ row.doctorName }}
            </span>
          </div>

        </td>
      </ng-container>


      <!-- Patient -->
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>
          Patient
        </th>

        <td mat-cell *matCellDef="let row">

          <div class="person">
            <div class="avatar patient-avatar">
              <mat-icon>person</mat-icon>
            </div>

            <span>
              {{ row.patientName }}
            </span>
          </div>

        </td>
      </ng-container>


      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>

        <td mat-cell *matCellDef="let row">

          <span
            class="status-badge"
            [ngClass]="getStatusClass(row.status)"
          >
            {{ row.status }}
          </span>

        </td>
      </ng-container>


      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">
      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns">
      </tr>

    </table>

  </div>

} @else {

  <div class="empty">
    <mat-icon>event_busy</mat-icon>

    <h4>No appointments yet</h4>

    <p>
      There are no recent appointments to display.
    </p>
  </div>

}