@if (chartOptions && hasRevenueData) {
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [stroke]="chartOptions.stroke!"
    [fill]="chartOptions.fill!"
    [markers]="chartOptions.markers!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [grid]="chartOptions.grid!"
    [tooltip]="chartOptions.tooltip!"
    [legend]="chartOptions.legend!"
    [dataLabels]="chartOptions.dataLabels!"
  >
    ssh dasmbsakdbk
  </apx-chart>
} @else {
  <app-chart-empty-state
    icon="bar-chart"
    title="No revenue data yet"
    subtitle="Data will appear once payments are recorded"
  />
}
