<mat-toolbar color="primary">
  <span>MediCare Pro</span>

  <span class="spacer"></span>

  <!-- <button mat-icon-button > -->
 <div class="d-flex flex-column align-items-center justify-content-center me-5 mt-3">
  <mat-icon [matMenuTriggerFor]="profileMenu" class="profile-avatar"
    >account_circle</mat-icon
  >
  <span class="fs12">{{ currentUser?.role }}</span>
 </div>
  <!-- </button> -->

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navProfile()">
      <mat-icon>person</mat-icon>

      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>

      Logout
    </button>
  </mat-menu>
</mat-toolbar>
