<mat-toolbar class="app-navbar">
  <div class="brand">
    <span class="brand-mark">
      <mat-icon>local_hospital</mat-icon>
    </span>
    <span class="brand-name">MediCare <b>Pro</b></span>
  </div>

  <span class="spacer"></span>

    <app-notification-bell></app-notification-bell>


  <button
    class="profile-trigger"
    mat-button
    disableRipple
    [matMenuTriggerFor]="profileMenu"
  >
    <span class="avatar">
      <mat-icon>account_circle</mat-icon>
    </span>
    <span class="profile-meta">
      <span class="profile-role">{{ currentUser?.role }}</span>
    </span>
    <mat-icon class="chevron">expand_more</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu" xPosition="before" class="profile-menu">
    <button mat-menu-item (click)="navProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
