<app-page-header
  title="Dashboard"
  subtitle="Clinic overview"
  [showButton]="false">
</app-page-header>


@if (dashboard$ | async; as dashboard) {

  <section class="summary-section">
    <app-summary-cards
      [dashboard]="dashboard">
    </app-summary-cards>
  </section>


  <section class="dashboard-layout">

    <!-- Revenue -->

    <app-chart-card
      title="Monthly Revenue"
      subtitle="Last 12 months"
      icon="trending_up">

      <app-revenue-chart
        [data]="dashboard.monthlyRevenue ?? []">
      </app-revenue-chart>

    </app-chart-card>


    <!-- Payment -->

    <app-chart-card
      title="Payment Status"
      subtitle="Current payment overview"
      icon="receipt">

      <app-payment-chart
        [data]="dashboard.paymentSummary ?? []">
      </app-payment-chart>

    </app-chart-card>


    <!-- Appointments -->

    <app-chart-card
      title="Monthly Appointments"
      subtitle="Last 12 months"
      icon="calendar_month"
      class="full-width">

      <app-appointments-chart
        [data]="dashboard.monthlyAppointments ?? []">
      </app-appointments-chart>

    </app-chart-card>


    <!-- Recent Appointments -->

    <app-chart-card
      title="Recent Appointments"
      subtitle="Latest appointments"
      icon="event">

      <app-recent-appointments
        [appointments]="dashboard.recentAppointments ?? []">
      </app-recent-appointments>

    </app-chart-card>


    <!-- Pending Payments -->

    <app-chart-card
      title="Pending Payments"
      subtitle="Outstanding invoices"
      icon="payments">

      <app-pending-payments
        [invoices]="dashboard.pendingInvoices ?? []">
      </app-pending-payments>

    </app-chart-card>

  </section>

}