.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stat-card {
  padding: 20px;
  border-radius: 12px;
    // border-left: 4px solid var(--mdc-theme-primary);

}

.stat-card h3 {
  margin: 0;
  font-size: 16px;
}

.stat-card p {
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
}

// .mat-mdc-card {
//   transition: all 0.3s ease;
// }

// .mat-mdc-card:hover {
//   transform: translateY(-4px);
//   box-shadow: 0 8px 24px rgba(0,0,0,.1);
// }