.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stat-card {
  padding: 20px;
  border-radius: 12px;
    // border-left: 4px solid var(--mdc-theme-primary);

}

.stat-card h3 {
  margin: 0;
  font-size: 16px;
}

.stat-card p {
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
}

