<app-page-header
  title="Create Invoice"
  subtitle="Generate invoice for completed appointment"
  buttonLabel="Back">
</app-page-header>

<mat-card class="summary-card">

    <mat-card-title>

        Appointment Summary

    </mat-card-title>

    <mat-divider class="mt-2"></mat-divider>

    <div class="summary-grid">

        <div>

            <strong>Patient</strong>

            <p>{{invoiceData?.patient?.name}}</p>

        </div>

        <div>

            <strong>Doctor</strong>

            <p>{{invoiceData?.doctor?.name}}</p>

        </div>

        <div>

            <strong>Appointment Date</strong>

            <p>{{invoiceForm.get('appointmentDate')?.value}}</p>

        </div>

        <div>

            <strong>Consultation Fee</strong>

            <p>

                ₹{{invoiceData?.doctor?.fee}}

            </p>

        </div>

    </div>

</mat-card>

<mat-card class="billing-card">

<form
    [formGroup]="invoiceForm">

<h3>

Billing Information

</h3>

<div class="row">

<mat-form-field appearance="outline">

<mat-label>

Discount

</mat-label>

<input
matInput
type="number"
formControlName="discount">

</mat-form-field>

<mat-form-field appearance="outline">

<mat-label>

GST (18%)

</mat-label>

<input
matInput
formControlName="gst">

</mat-form-field>

</div>

<div class="row">

<mat-form-field appearance="outline">

<mat-label>

Grand Total

</mat-label>

<input
matInput
formControlName="total">

</mat-form-field>

<mat-form-field appearance="outline">

<mat-label>

Payment Method

</mat-label>

<mat-select
formControlName="paymentMethod">

<mat-option
[value]="PaymentMethod.CASH">

Cash

</mat-option>

<mat-option
[value]="PaymentMethod.UPI">

UPI

</mat-option>

<mat-option
[value]="PaymentMethod.CARD">

Card

</mat-option>

<mat-option
[value]="PaymentMethod.INSURANCE">

Insurance

</mat-option>

</mat-select>

</mat-form-field>

</div>

<div class="row">

<mat-form-field appearance="outline">

<mat-label>

Payment Status

</mat-label>

<mat-select
formControlName="paymentStatus">

<mat-option
[value]="PaymentStatus.PENDING">

Pending

</mat-option>

<mat-option
[value]="PaymentStatus.PAID">

Paid

</mat-option>

<mat-option
[value]="PaymentStatus.CANCELLED">

Cancelled

</mat-option>

</mat-select>

</mat-form-field>

</div>

<div class="actions">

<button
mat-stroked-button
routerLink="/billing">

Cancel

</button>

<button
mat-raised-button
color="primary"
(click)="saveInvoice()"
[disabled]="invoiceExists"
>

Generate Invoice

</button>

</div>

</form>

</mat-card>