<app-page-header title="Billing" subtitle="View and manage generated invoices">
  [showButton]="false"
</app-page-header>

<mat-card class="filter-card">
  <div class="filter-row">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>

      <input matInput placeholder="Invoice Number / Patient" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Payment Status</mat-label>

      <mat-select>
        <mat-option value="">All</mat-option>

        <mat-option value="Pending">Pending</mat-option>

        <mat-option value="Paid">Paid</mat-option>

        <mat-option value="Cancelled">Cancelled</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Payment Method</mat-label>

      <mat-select>
        <mat-option value="">All</mat-option>

        <mat-option value="Cash">Cash</mat-option>

        <mat-option value="UPI">UPI</mat-option>

        <mat-option value="Card">Card</mat-option>

        <mat-option value="Insurance">Insurance</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<mat-card>
  <table mat-table matSort>
    <!-- Invoice -->

    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice #</th>

      <td mat-cell *matCellDef="let row">
        {{ row.invoiceNumber }}
      </td>
    </ng-container>
  </table></mat-card
>
