<div class="not-found-container">
  <div class="content">
    <div class="icon-ring">
      <mat-icon class="error-icon">travel_explore</mat-icon>
    </div>

    <span class="error-code">404</span>

    <h2>Page Not Found</h2>
    <p>Sorry, the page you're looking for doesn't exist or may have been moved.</p>

    <div class="actions">
      @if (role=='UserRole.DOCTOR') {
        <button mat-raised-button color="primary" routerLink="/doctor-dashboard">
          <mat-icon>dashboard</mat-icon>
          Go to Dashboard
        </button>
      } @else {
         <button mat-raised-button color="primary" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Go to Dashboard
        </button>
      }
    </div>
  </div>
</div>