@if (chartOptions && hasAppointmentsData) {
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [plotOptions]="chartOptions.plotOptions!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [tooltip]="chartOptions.tooltip!"
    [grid]="chartOptions.grid!"
    [colors]="chartOptions.colors!"
    [legend]="chartOptions.legend!"
    [dataLabels]="chartOptions.dataLabels!"
  >
  </apx-chart>
} @else {
  <app-chart-empty-state
    icon="calendar"
    title="No appointments yet"
    subtitle="New bookings will show up here"
  />
}
