@if (chartOptions && hasPaymentsData) {
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels!"
    [legend]="chartOptions.legend!"
    [responsive]="chartOptions.responsive!"
    [colors]="chartOptions.colors!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [stroke]="chartOptions.stroke!"
  >
  </apx-chart>
} @else {
  <app-chart-empty-state
    icon="pie-chart"
    title="No payment data yet"
    subtitle="Try a different date range"
  />
}
