<div class="cards-grid">
  <!-- Patients -->

  <mat-card class="dashboard-card patient">
    <div class="icon">
      <mat-icon> groups </mat-icon>
    </div>

    <div class="content">
      <span>Total Patients</span>

      <div class="sub-content">
        <h2>
          {{ dashboard.totalPatients }}
        </h2>

        <small> Registered Patients </small>
      </div>
    </div>
  </mat-card>

  <!-- Doctors -->

  <mat-card class="dashboard-card doctor">
    <div class="icon">
      <mat-icon> medical_services </mat-icon>
    </div>

    <div class="content">
      <span>Total Doctors</span>

      <div class="sub-content">
        <h2>
          {{ dashboard.totalDoctors }}
        </h2>

        <small> Active Doctors </small>
      </div>
    </div>
  </mat-card>

  <!-- Appointments -->

  <mat-card class="dashboard-card appointment">
    <div class="icon">
      <mat-icon> event </mat-icon>
    </div>

    <div class="content">
      <span>Today's Appointments</span>

      <div class="sub-content">
        <h2>
          {{ dashboard.todayAppointments }}
        </h2>

        <small> Scheduled Today </small>
      </div>
    </div>
  </mat-card>

  <!-- Revenue -->

  <mat-card class="dashboard-card revenue">
    <div class="icon">
      <mat-icon> payments </mat-icon>
    </div>

    <div class="content">
      <span>Revenue Today</span>

      <div class="sub-content">
        <h2>
          {{
            dashboard.todayCollectedRevenue
              | currency: "INR" : "symbol" : "1.0-0"
          }}
        </h2>

        <small> Collected Revenue </small>
      </div>
    </div>
  </mat-card>
</div>
